@import url(http://fonts.googleapis.com/css?family=Exo:200,400,600);

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

body {
  padding-top: 15px;
}

.navbar-brand {
  font-family: exo, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 23px;
}

.navbar-brand:hover {
  color: black !important;
}

.logo-orange {
  color: #f48845;
}

img.venmo-logo {
  height: 10px;
  margin-bottom: 3px;
}

img.venmo-logo-medium {
  height: 13px;
  margin-bottom: 4px;
}

.mh-block {
  background: #fcfcfc;
  border-radius: 4px;
  border: solid 1px #eee;
  border-bottom-color: #dfdfdf;
  padding: 10px;
  margin-bottom: 15px;
}

.mh-block h1 {
  font-size: 20px;
  margin-top: -10px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  padding-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mh-block h1.just-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 > .pull-right {
  position: relative;
  bottom: 3px;
  left: 4px;
}

img.nav-avatar {
  height: 20px;
  border-radius: 4px;
  bottom: 2px;
  margin-right: 3px;
  position: relative;
}

.mh-block .form-control {
  margin-top: 6px;
}

.mh-block > .label.label-danger {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  font-weight: normal;
  background-color: #D9531F;
  white-space: normal;
}

.entry-row,
.divider-row {
  margin: 8px auto;
  white-space: nowrap;
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.entry-row td,
.divider-row td {
  padding-right: 10px;
}

.entry-row > *:last-child,
.divider-row > *:last-child {
  margin-right: 0;
}

.divider-row .label-divider {
  text-align: center;
  background: #ddd;
  color: #888;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  display: block;
}

.btn-move {
  cursor: row-resize;
}

.entry-buttons-cell {
  width: 60px;
}

.entry-name-cell,
.entry-divider-cell {
  width: auto;
}

.entry-price-cell {
  width: 80px;
}

.menu-controls {
  font-size: 20px;
  margin-bottom: -10px;
  border-top: solid 1px #ddd;
  margin-top: 5px;
  padding-top: 5px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  padding-bottom: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.user-row {
  table-layout: fixed;
  width: 100%;
}

.user-remove-cell {
  width: 34px;
}

.user-email-cell {
  width: auto;
}

.user-row:only-child .user-remove-cell {
  display: none;
}

.meal-description {
  border-radius: 4px;
  background: #f4f4f4;
  border: solid 1px #e8e8e8;
  padding: 10px;
  margin: 10px auto;
}

.order-entry h2 {
  font-size: 16px;
}

.navbar-brand {
  padding:14px 15px 12px
}

.site-flash {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.order-entry-quantity-widget {
  margin-left: 30px;
}

.btn-dec {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-inc {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.order-entry-quantity {
  width: 30px;
  text-align: center;
  height: 22px;
  background: #ddd;
  margin: 0;
  top: 1px;
  position: relative;
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
}

.btn-order-submit {
  float: right;
  position: relative;
  bottom: 5px;
}

hr.thin {
  margin: 5px auto;
}

.meal-order-name {
  font-size: 18px;
  margin-left: 10px;
}

.avatar-small {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  margin-right: 6px;
}

.meal-order-row {
  padding-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 2px;
  border-bottom: solid 1px #aaa;
}

.meal-order-row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.order-table {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: -10px;
  width: 100%;
}

.ordered-entry-name-cell {
  width: auto;
}

.ordered-entry-quantity-cell {
  width: 60px;
}

.ordered-entry-price-cell {
  width: 60px;
}

h1 .total-cost {
  float: right;
  position: relative;
  bottom: 1px;
  left: 4px;
  font-size: 16px;
  border-radius: 4px;
  background: #f3f3f3;
  padding: 6px;
  -webkit-box-shadow: inset 1px 1px 1px 0.1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px 0.1px rgba(0, 0, 0, 0.1);
}

.order-paid {
  text-decoration: line-through;
}

.meal-list-style, .order-list-style, .participants-list-style {
  list-style-type: none;
}

.meal-list-style > li, .order-list-style > li, .participants-list-style > li {
  font-size: 14px;
  margin-left: -35px;
}

.order-list-style > li {
  text-overflow: ellipsis;
}

img.participant-image {
  border-radius: 5px !important;
  height: 50px;
  float: left;
  margin-right: 10px;
}

div.participant-text {
  float: left;
  margin-left: -50px;
}

.order-page-participant-list {
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.order-page-participant-list > a {
  border-width: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-width: 1px;
  height: 70px;
}

.order-page-participant-list > a:first-child {
  border-top-width: 0;
}

.activity-feed-list {
  text-align: left;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.activity-feed-list > div {
  border-width: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-width: 1px;
  height: 70px;
}

.activity-feed-list > div:first-child {
  border-top-width: 0;
}
