@import url(http://fonts.googleapis.com/css?family=Exo:200,400,600);

body {
  padding-top: 15px;
}

.navbar-brand {
  font-family: exo, sans-serif;
  font-weight: 600;
  color: black;
}

.navbar-brand:hover {
  color: black !important;
}

.logo-orange {
  color: #f48845;
}

img.venmo-logo {
  height: 10px;
  margin-bottom: 3px;
}

img.venmo-logo-medium {
  height: 13px;
  margin-bottom: 4px;
}

.mh-block {
  background: #fcfcfc;
  border-radius: 4px;
  border: solid 1px #eee;
  border-bottom-color: #dfdfdf;
  padding: 10px;
  margin-bottom: 15px;
}

.mh-block h1 {
  font-size: 20px;
  margin-top: -10px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  padding-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

img.nav-avatar {
  height: 20px;
  border-radius: 4px;
  bottom: 2px;
  margin-right: 3px;
  position: relative;
}
