<!doctype html>
<html>
  <head>
    <title>{% block title %}GrubHero{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-orange">Grub</span>Hero</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if logged_in %}
              <li><a href="https://venmo.com/{{ session.username }}"><img class="nav-avatar" src="{{ session.photo_url }}" /> {{ session.firstname }} {{ session.lastname }}</a></li>
              <li><a href="/logout">Sign Out</a></li>
            {% else %}
              <li><a href="{{ VENMO_OAUTH_URL }}">Sign In with <img class="venmo-logo" src="{{ url_for('static', filename='images/venmo.png') }}" /></a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      {% block content %}{% endblock %}

      <div style="margin: 25px"></div>
      <div style="font-size: 15px;text-align:center;margin-bottom: 25px">Copyright &copy; 2013 GrubHero</div>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
    <script type="text/javascript">
      {% block javascript %}
      {% endblock %}
    </script>
  </body>
</html>
