{% extends "base.html" %}

{% block title %}New Meal{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-4">
      <div class="mh-block">
        <h1>Foo/h1>
      </div>
      <div class="mh-block">
        <h1>Bar</h1>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="mh-block">
        <h1>Foo</h1>
        Foobar.
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $('#basic_example_3').datetimepicker({
    timeFormat: "hh:mm tt"
  });
{% endblock %}