{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-4">
      <div class="mh-block">
        <h1>My Meals <span class="pull-right">
          <a href="/meals/new" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> New Meal</a>
        </span></h1>
        {% if meals %}
          <ul>
            {% for meal in meals %}
              <li>{{meal.name}}</li>
            {% endfor %}
          </ul>
        {% else %}
          <em>No meals created.</em>
        {% endif %}
      </div>
      <div class="mh-block">
        <h1>My Orders</h1>
        {% if orders %}
          <ul>
            {% for order in orders %}
              <li>{{order.name}} - {{order.tease}}</li>
            {% endfor %}
          </ul>
        {% else %}
          <em>You have no current meal orders.</em>
        {% endif %}
      </div>
    </div>
    <div class="col-xs-8">
      <div class="mh-block">
        <h1>Activity Feed</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <center>
          <i>Coming soon!</i>
        </center>
      </div>
    </div>
  </div>
{% endblock %}
