{% extends "base.html" %}

{% block content %}
  <div class="mh-block">
    <div class="row">
      <div class="col-xs-5" style="padding-left: 40px; font-size: 16px;">
        <h2>Who wants food?</h2>
        <p>GrubHero makes it easy to organize group meal orders.</p>
        <p>As a hero, you'll create a food menu and an ordering deadline. Users you add to the meal will receive an email where they can choose their order. Payments will automatically be gathered via Venmo.</p>
      </div>
      <div class="col-xs-2" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/full_logo.svg') }}" style="width: 100%;" />
      </div>
      <div class="col-xs-5" style="text-align: center;">
        <p><h2 style="margin-bottom: 20px;">Let's make a meal.</h2></p>
        <p>
          <a class="btn btn-lg btn-info" href="{{ VENMO_OAUTH_URL }}">Sign In With <img class="venmo-logo-medium" src="{{ url_for('static', filename='images/venmo-white.png') }}" /> &raquo;</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
