{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-4">
      <div class="mh-block">
        <h1>My Meals</h1>
        <em>No meals created.</em>
      </div>
      <div class="mh-block">
        <h1>Active Orders</h1>
        <em>Your are not currently running any orders.</em>
      </div>
      <div class="mh-block">
        <h1>My Orders</h1>
        <em>You have no current meal orders.</em>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="mh-block">
        <h1>Activity Feed</h1>
        Foobar.
      </div>
    </div>
  </div>
{% endblock %}
