{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="site-flash alert alert-success">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-xs-4">
      <div class="mh-block">
        <h1>My Meals <span class="pull-right">
          <a href="/meals/new" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> New Meal</a>
        </span></h1>
        {% if meals %}
          <ul class="meal-list-style">
            {% for meal in meals %}
              <li><a href="/order/{{meal._id}}">{{meal.name}} ({{meal.participants|length}}/{{meal.invited|length}})</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <em>No meals created.</em>
        {% endif %}
      </div>
      <div class="mh-block">
        <h1>My Orders</h1>
        {% if orders %}
          <ul class="order-list-style">
            {% for order in orders %}
              <li class="{% if order.paid %}order-paid{% endif %}">{{order.name}} - {{order.tease}}</li>
            {% endfor %}
          </ul>
        {% else %}
          <em>You have no current meal orders.</em>
        {% endif %}
      </div>
    </div>
    <div class="col-xs-8">
      <div class="mh-block">
        <h1>Activity Feed</h1>
        <center>
          {% if activities %}
            <div class="list-group activity-feed-list">
              {% for activity in activities %}
                <div class="list-group-item">
                  <a href="http://venmo.com/{{activity.username}}"><img class="participant-image" src="{{activity.picture}}"></a>
                  <h4 class="list-group-item-heading"><a href="http://venmo.com/{{activity.username}}">{{ activity.firstname }} {{ activity.lastname }}</a></h4>
                  <p class="list-group-item-text">
                    {% if activity.type == 'joined' %}
                      Joined GrubHero. &mdash; <span title="{{activity.when.ctime()}}">{{activity.when_fuzzy}}</span>
                    {% elif activity.type == 'ordered' %}
                      Ordered {{meal_name}}. &mdash; <span title="{{activity.when.ctime()}}">{{activity.when_fuzzy}}</span>
                    {% elif activity.type == 'created meal' %}
                      Created the meal {{meal_name}}. &mdash; <span title="{{activity.when.ctime()}}">{{activity.when_fuzzy}}</span>
                    {% elif activity.type == 'collected payments' %}
                      <Collected payments for {{meal_name}}. &mdash; <span title="{{activity.when.ctime()}}">{{activity.when_fuzzy}}</span>
                    {% else %}
                      {{activity}}
                    {% endif %}
                  </p>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <br>
            <em>No activities logged yet.</em>
            <br>
          {% endif %}
        </center>
      </div>
    </div>
  </div>
{% endblock %}
